@font-face {
  font-family: "20051";
  font-display: swap;
  src: url("../fonts/20051.woff") format("woff"), url("../fonts/20051.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ABeeZee-Regular";
  font-display: swap;
  src: url("../fonts/ABeeZee-Regular.woff") format("woff"), url("../fonts/ABeeZee-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

div {
  background: url("../img/okean-7000x4667-5k-4k-palmi-oblaka-solnce-5286.jpg") 0 0 repeat;
}
@supports (-webkit-appearance:none){
div{background:url("../img/okean-7000x4667-5k-4k-palmi-oblaka-solnce-5286.webp") 0 0 repeat}
}
